.header {
    height: 300px;
}

.main{
    height: 370px;
}

.uriage0{
    width: 1000px;
    height: 100%;
    background: url("../img/uriage_0.png");
    zoom: 50%;
}

.uriage1{
    width: 1000px;
    height: 100%;
    background: url("../img/uriage_1.png");
    zoom: 50%;
}

.uriage2{
    width: 1000px;
    height: 100%;
    background: url("../img/uriage_2.png");
    zoom: 50%;
}

.hiduke{
    width: 1000px;
    height: 100%;
    background: url("../img/hiduke.png");
    zoom: 50%;
}

.hiduke2{
    width: 1000px;
    height: 100%;
    background: url("../img/hiduke2.png");
    zoom: 50%;
}

.tanpin{
    width: 1000px;
    height: 100%;
    background: url("../img/tanpin.png");
    zoom: 50%;
}

.tanpin2{
    width: 1000px;
    height: 100%;
    background: url("../img/tanpin2.png");
    zoom: 50%;
}