<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="utf-8">
        <title>使いかた</title>
        <link rel="stylesheet" href="/static/css/how_to_use.css">
    </head>
    <body>
        <h2>このツールでは月度報告書の「ドラック実績」sheetの項目を全て入力することができます<br>具体的には以下の項目を入力します</h2>
        <ul class="list" type="disc">
            <li style="float: left; width: calc(20%);">月度</li>
            <li style="float: left; width: calc(20%);">期間</li>
            <li style="float: left; width: calc(20%);">売上予算</li>
            <li style="float: left; width: calc(20%);">売上実績</li>
            <li style="float: left; width: calc(20%);">昨年売上</li>
            <li style="float: left; width: calc(20%);">営業日数</li>
            <li style="float: left; width: calc(20%);">総人時数</li>
            <li style="float: left; width: calc(20%);">粗利額予算</li>
            <li style="float: left; width: calc(20%);">昨年粗利額</li>
            <li style="float: left; width: calc(20%);">平日日数</li>
            <li style="float: left; width: calc(20%);">客数</li>
            <li style="float: left; width: calc(20%);">昨年客数</li>
            <li style="float: left; width: calc(20%);">総点数</li>
            <li style="float: left; width: calc(20%);">昨年総点数</li>
            <li style="float: left; width: calc(20%);">平日合計</li>
            <li style="float: left; width: calc(20%);">先月度の商品情報</li>
            <li style="float: left; width: calc(20%);">今月度の売上予算</li>
            <li>今月度の営業利益予算</li>
        </ul>
        <h2>ツールを使用するにあたり業務メニューから以下のファイルをダウンロードする必要があります<br>数回のクリックで完了するためとても簡単です</h2>
        <ul type="disc">
            <li style="float: left; width: calc(20%);">今年の売上合計照会</li>
            <li>昨年の売上合計照会</li>
            <li style="float: left; width: calc(20%);">売上単品集計</li>
            <li>日付別売上</li>
        </ul>
        <h2>以下ファイルのダウンロード方法です</h2>
        <br>
        <h3>売上合計照会のファイル</h3>
        <p>業務メニューを開きます<br>「i 売上/POS」タブの「売上合計照会」をクリック</p>
        <div class="header">
            <div class="uriage0">
            </div>
        </div>
        <br>
        <p>自店の店舗コードであることを確認。集計する期間を入力して日付集計を「期間集計表示」に設定します。<br>その後、検索をクリック</p>
        <div class="header">
            <div class="uriage1">
            </div>
        </div>
        <br>
        <p>データが表示されるのでCSVファイルとして保存します。ファイルのマークをクリックで保存完了です<br>昨年のものも必要になるので期間を入力しなおして同じ方法でファイルをダウンロードしてください</p>
        <div class="header">
            <div class="uriage2">
            </div>
        </div>
        <br>
        <br>
        <h2>日付別表示のファイル</h2>
        <p>日付集計を日付別表示に設定し検索をクリックします<br>期間を昨年にしたままにしないように気を付けてください。今年のものでないとエラーになります</p>
        <div class="header">
            <div class="hiduke">
            </div>
        </div>
        <br>
        <p>以下のように表示されたらCSVファイルとして保存します</p>
        <div class="header">
            <div class="hiduke2">
            </div>
        </div>
        <br>
        <br>
        <h2>売上単品集計のファイル</h2>
        <p>業務メニューを開きます<br>「i 売上/POS」タブの「単品集計」をクリック</p>
        <div class="header">
            <div class="tanpin">
            </div>
        </div>
        <br>
        <p>期間を設定し「検索」をクリック。その後「CSV保存」をクリックし保存します</p>
        <div class="main">
            <div class="tanpin2">
            </div>
        </div>
        <br>
        <br>
        <h2>使いかた</h2>
        <p>テキストボックスに対応する数値を入力したりファイルを選択するだけです<br>エラーにならずにファイルを作成するために以下の点に注意してください</p>
        <ul class="list" type="disc">
            <li>選択する月度報告書は最新のものを利用してください。そうしないと売上予算と粗利額予算が正しく入力されません<br>
            今月度予算の売上予算と営業利益予算から数値をもってくるためです</li>
            <li>入力されていない箇所が一つでもあるとエラーになります。また、CSVファイルの書式が違っていたりするとエラーになります</li>
            <li>1月度の月度報告書を作成する際は1月1日をチラシ日に含めてください。平日日数を正しく反映させるためです</li>
        </ul>
    </body>
</html>