<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="utf-8">
        <title>使いかた</title>
        <link rel="stylesheet" href="/static/css/how_to_use.css">
    </head>
    <body>
        <h2>このツールでは月度報告書の「ドラック実績」sheetの項目を全て入力することができます<br>具体的には以下の項目を入力します</h2>
        <ul class="list" type="disc">
            <li style="float: left; width: calc(20%);">月度</li>
            <li style="float: left; width: calc(20%);">期間</li>
            <li style="float: left; width: calc(20%);">売上予算</li>
            <li style="float: left; width: calc(20%);">売上実績</li>
            <li style="float: left; width: calc(20%);">昨年売上</li>
            <li style="float: left; width: calc(20%);">営業日数</li>
            <li style="float: left; width: calc(20%);">総人時数</li>
            <li style="float: left; width: calc(20%);">粗利額予算</li>
            <li style="float: left; width: calc(20%);">昨年粗利額</li>
            <li style="float: left; width: calc(20%);">平日日数</li>
            <li style="float: left; width: calc(20%);">客数</li>
            <li style="float: left; width: calc(20%);">昨年客数</li>
            <li style="float: left; width: calc(20%);">総点数</li>
            <li style="float: left; width: calc(20%);">昨年総点数</li>
            <li style="float: left; width: calc(20%);">平日合計</li>
            <li style="float: left; width: calc(20%);">先月度の商品情報</li>
            <li style="float: left; width: calc(20%);">今月度の売上予算</li>
            <li>今月度の営業利益予算</li>
        </ul>
        <h2>ツールを使用するにあたり業務メニューから以下のファイルをダウンロードする必要があります</h2>
        <ul type="disc">
            <li style="float: left; width: calc(20%);">今年の売上合計照会</li>
            <li>昨年の売上合計照会</li>
            <li style="float: left; width: calc(20%);">売上単品集計</li>
            <li>日付別売上</li>
        </ul>
        <h2>以下ファイルのダウンロード方法です</h2>
        <br>
        <h3>売上合計照会</h3>
        <p>業務メニューを開きます<br>「i 売上/POS」タブの「売上合計照会」をクリック</p>
        <div class="header">
            <div class="uriage0">
            </div>
        </div>
    </body>
</html>