<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="utf-8">
        <title>月度報告書ツール</title>
    </head>
    <body>
        <h1>月度報告書を簡単に作りたい</h1>
        <!-- アップロードされたファイルを/registerにPOSTメソッドで送信 -->
        <form method="POST" action="/edit" enctype="multipart/form-data">
            <!-- アップロードするファイルのタイトル名を入力 -->
            <h3>月度報告書</h3><input type="file" name="report">
            <!-- アップロードするファイルを登録する -->
            <h3>今年の売上合計照会</h3><input type="file" name="this_year">
            <!-- 行間を開けるための改行タグ -->
            <br>
            <br>
            <!-- 送信ボタンとリセットボタン。&nbsp;はスペース -->
            <input value="作成" type="submit">&nbsp;<input value="リセット" type="reset">
        </form>
    </body>
</html>